@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Jost:wght@300;500;700&family=Poppins:wght@100;300;600&family=Roboto:wght@300;400;700&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

header {
    height: 1110px;
    background-color: #121217;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {
    display: flex;
    list-style: none;
    width: 630px;
    justify-content: space-between;
    margin-top: 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.tap-bar img {
    width: 100px;
    height: 17px;
}

.btn-signup {
    width: 100px;
    height: 43px;
    background-color: #2945FF;
    border-radius: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}

.btn-signup a {
    text-decoration: none;
    color: white;
}

.header-con {
    display: flex;
    justify-content: space-between;
    margin-top: 127px;
}

.header-title {
    width: 650px;
    height: 231px;
}

.header-title h1 {
    color: white;
    font-size: 64px;
}

.header-details p {
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.03em;
}

.btn-header-details {
    text-align: center;
    width: 245px;
    height: 63px;
    background-color: #2945FF;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-header-details a {
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.pre {
    height: 700px;
    background-color: #121217;
}

.pre-made {
    border: 2px solid #121217;
    text-align: center;
}

.pre-made h2 {
    margin-top: 110px;
    color: white;
    font-size: 40px;
}

.pre-made p {
    color: white;
    font-size: 20px;
    margin-top: 15px;
    line-height: 160%;
    letter-spacing: -0.03em;
}

.pre-three {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.pre-details {
    text-align: center;
}

.pre-details h2 {
    color: white;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.03em;
    font-weight: 600;

}

.pre-details p {
    color: white;
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
}

.pic {
    height: 733px;
    background-color: #121217;

}

.pic-con {
    display: flex;
    justify-content: space-between;
}


.pic-im {
    background-color: #121217;
}

.pic-im img {
    width: 370px;
    height: 518px;
    border-radius: 80px;
    margin-top: 105px;
    border: 17px solid #121217;
}

/*.linear {
    width: 550.54px;
    height: 597.76px;
    background: linear-gradient(97.39deg, rgb(110, 107, 107) 18.73%, rgba(87, 87, 87, 0) 102.27%);
    transform: rotate(-30.12deg);
    border: 2px solid red;
    position: absolute;
    left: -157.85px;
    top: 2100px;
}*/
.pic-details {
    margin-top: 150px;

}

.pic-details p {
    color: white;
    font-size: 40px;
}

.pic-details img {
    margin-top: 1rem;
}

.pic-credits {
    display: flex;
}

.pic-credits p {
    margin-top: 30px;
    font-size: 16px;
}

.pic-credits .VP {
    color: #646464;
}

.here {
    height: 946px;
    background-color: #121217;
}

.here-text {
    text-align: center;
    border: 2px solid #121217;
}

.here-text h2 {
    margin-top: 125px;
    font-size: 48px;
    letter-spacing: -0.03em;
    line-height: 120%;
    font-weight: 600;
    color: white;
}

.here-text p {
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: -0.03em;
    font-weight: 400;
    line-height: 160%;
    color: white;
}

.box-con {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.here-box {
    display: flex;
    width: 579px;
    height: 215px;
    border-radius: 24px;
    border: 1px solid #373741;
}

.here-box-img1 img {
    width: 167px;
    height: 167px;
    background-color: rgb(204, 218, 236);
    border-radius: 24px;
    margin: 24px 30px;
}

.here-box-details {
    margin: 35px 0px;
}

.here-box-icon img {
    width: 24px;
    height: 24px;
}

.here-box-details h3 {
    margin-top: 15px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
}

.here-box-details p {
    margin-top: 8px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.learn {
    display: flex;
}

.learn a {
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

.learn img {
    margin-top : 7px;
}

.here-box-img2 img {
    width: 167px;
    height: 167px;
    background-color: rgb(241, 226, 255);
    border-radius: 24px;
    margin: 24px 30px;
}

.here-box-img3 img {
    width: 167px;
    height: 167px;
    background-color: rgb(255, 250, 226);
    border-radius: 24px;
    margin: 24px 30px;
}

.here-box-img4 img {
    width: 167px;
    height: 167px;
    background-color: rgb(255, 226, 226);
    border-radius: 24px;
    margin: 24px 30px;
}
